@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid black; */
  box-sizing: border-box;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
  border-radius: 15px;
}

.image-container img:hover {
  transform: scale(1.1); /* Scale the image to 110% on hover */
}

/* .card {
  max-width: 450px;
  width: 100%;
} */
