@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8593ba;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ab96c4;
    --foreground: #71a0a9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
